
datashape==0.5.2
datefinder==0.6.1
dateparser==0.7.0
decorator==4.3.0

dj-database-url==0.5.0
dj-stripe==1.2.3
Django==2.0.8

django-bootstrap3==10.0.1

django-crispy-forms==1.7.0
django-excel==0.0.10
django-filter==2.0.0
django-hitcount==1.3.0
django-import-export==1.1.0

django-qa==0.10.0
django-taggit==0.22.2
django-viewflow==1.3.0
django-widget-tweaks==1.4.3

gunicorn==19.9.0
h5py==2.7.1

html5lib==1.0.1

Jinja2==2.10

locket==0.2.0
lxml==4.2.1
macholib==1.10

matplotlib==2.2.2

multipledispatch==0.5.0

numpy==1.14.3

opencv-python==3.4.3.18
openpyxl==2.5.3
packaging==17.1
pandas==0.23.0
pandocfilters==1.4.2


pexpect==4.5.0
pickleshare==0.7.4
Pillow==5.1.0


psutil==5.4.5
psycopg2==2.7.6.1
ptyprocess==0.5.2
py==1.5.3
PyAutoGUI==0.9.38
pycodestyle==2.4.0
pycosat==0.6.3
pycparser==2.18
pycrypto==2.6.1
pycurl==7.43.0.1
pyexcel==0.5.9.1
pyexcel-io==0.5.9.1
pyexcel-webio==0.1.4
pyexcel-xls==0.5.8
pyexcel-xlsx==0.5.6
pyexcel-xlsxr==0.5.2
pyexcel-xlsxw==0.4.2
pyflakes==1.6.0
Pygments==2.2.0
PyInstaller==3.3.1
pylint==1.8.4
PyMsgBox==1.0.6



pyOpenSSL==18.0.0
pyparsing==2.2.0
PyScreeze==0.1.18
PySocks==1.6.8
pytest==3.5.1
pytest-arraydiff==0.2
pytest-astropy==0.3.0
pytest-doctestplus==0.1.3
pytest-openfiles==0.3.0
pytest-remotedata==0.2.1
python-dateutil==2.7.3
python-editor==1.0.3
python-openid==2.2.5

PyYAML==3.12


QtPy==1.4.1
regex==2016.1.10
requests==2.20.1
rope==0.10.7

scipy==1.1.0

six==1.11.0
storages

SQLAlchemy==1.2.7

stripe==2.12.1

unicodecsv==0.14.1
Unidecode==1.0.22
urllib3==1.22

Werkzeug==0.14.1
widgetsnbextension==3.2.1
wrapt==1.10.11
WTForms==2.2.1
xlrd==1.1.0
XlsxWriter==0.9.3

xlwt==1.2.0
zerorpc==0.6.1
zict==0.1.3
