{% extends "base2.html" %}

{% block content %}

    <main class="transaction-page">
      <section class="inner-wrap">
        <div class="video">
            <video autoplay loop src="video/video.mp4" type="video/mp4">
            </video>
        </div>
        <div class="overlay"></div>

          {% include 'sidebar.html' %}

          <div class="general_form">
            <div class="btn-box flex flex-column flex-vertical-bottom flex-sd-row flex-end">
                <button class="general_btn">New Client
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
                <button class="general_btn">New Cycle
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
            </div>
           
          
          <form method="post">   
                   
            <h3 class="general_title">Transaction Objective</h3>
          
                {% csrf_token %}
                <div class="dropdown-box flex flex-sb flex-vertical-top">
                {% for field in form.visible_fields %}
                  <div class="general_dropdown-list">
                      {{ field }}
                  </div>
                {% endfor %}
                
                </div>

                <table class="table">
                    {{ titles.management_form }}
                    {% for form in titles.forms %}
                    <tr class="{% cycle row1 row2 %} formset_row">
                    {% for field in form.visible_fields %}
                    <td>       {# Include the hidden fields in the form #}
                                {% if forloop.first %}
                                {% for hidden in form.hidden_fields %}
                                            {{ hidden }}
                                        {% endfor %}
                                    {% endif %}
                                    {{ field.errors.as_ul }}
                                    <div class="input_box">
                                        {{ field }}
                                    </div>
                                </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </table>
        </div>
      </section>
    </main>
      <script src="{% static 'js/formset.js' %}"></script>
     <script src="{% static 'js/script.js' %}"></script>
    <script type="text/javascript">
        $('.formset_row').formset({
            addText: 'add objectives',
            deleteText: 'remove',
            prefix: 'has_objectives',
        });
    </script>

  <script>
    $("#id_cycle_type").change(function () {
      var objectives_trans = $(this).val();
      $.ajax({
        url: '{% url "CycleTransactionGet" %}',
        type: "get",
        data: {
          'objectives_trans' : objectives_trans
        },
        success: function(data, status) {
            console.log(data);
            // var items = data['objectives_trans']
            //  $.each(items, function(key, value) {
            //             console.log(value.objectives_trans);
            $("#id_has_objectives-0-transaction_objective").replaceWith(data);
          
          // $("#id_has_objectives-1-transaction_objective").replaceWith(data);
          // $("#form-1-Suggested_Sample_Size").replaceWith(data);
          // $("#form-2-Suggested_Sample_Size").replaceWith(data);
          // result = data;
          console.log(data);
        }
      });
    });
  </script>

  {% endblock content %}
