

{% extends 'base2.html' %}

{% load crispy_forms_tags %}

{% block content %}
<style>
textarea {
   min-height: 100px;
}
</style>
  <main class="transaction-page">
    <section class="inner-wrap">
        {% include 'sidebar.html' %}
        <div class="sampling_form">          
          <form method="POST" action="{% url 'report_form' %}">
                {% csrf_token %}
              <div class="modal-header" style="margin: 5px; text-align: right">
                <h4 class="modal-title">Report Form</h4>
              </div>
              <div class="sampling_data">
                  <span>Cycle: {{sampling_data.Cycle}}</span>
                  <span>Client: {{sampling_data.Client}}</span>
                  <span>Year: {{sampling_data.Year}}</span>
              </div>
              <div class="control-group">
                <label class="control-label">Introductory Paragraph</label>
                <div class="controls">
                  <textarea name="intro_paragraph" cols="40" rows="3" class="textarea" required="" id="intro_paragraph"></textarea>
                </div>
              </div>
              <div class="control-group">
                <label class="control-label">Audit Objective</label>
                <div class="controls">
                  <textarea name="audit_objective" cols="40" rows="3" class="textarea" required="" id="audit_objective"></textarea>
                </div>
              </div>
              <div class="control-group">
                <label class="control-label">Scope Paragraph</label>
                <div class="controls">
                  <textarea name="scope_paragraph" cols="40" rows="3" class="textarea" required="" id="scope_paragraph"></textarea>
                </div>
              </div>
              <div class="control-group">
                <label class="control-label"></label>
                <div class="controls">Findings and Recommendations</div>
              </div>
              <div class="control-group">
                <label class="control-label">Findings and Recommendations from previous page</label>
                <div class="controls">
                  <div class="col-4 report-recommendation" style="float: left; padding-left: 0; padding-right:  5px; ">
                    <label>Remarks</label>
                    <textarea name="remarks" row="4" class="textarea" id="remarks">{{remarks}}</textarea>
                  </div>
                  <div class="col-4 report-recommendation" style="float: left; padding-left: 0; padding-right:  5px;">
                    <label>Financial Statements</label>
                    <textarea name="financials" row="4" class="textarea" id="financials">{{financials}}</textarea>
                  </div>
                  <div class="col-4 report-recommendation" style="float: left; padding-right:  0px;">
                    <label>Suggested Improvements</label>
                    <textarea name="suggestions" row="4" class="textarea" id="suggestions">{{suggestions}}</textarea>
                  </div>
                </div>
              </div>
              <div class="control-group">
                <label class="control-label">Opinion Paragraph</label>
                <div class="controls">
                  <textarea name="opinion_paragraph" cols="40" rows="4" class="textarea" required="" id="opinion_paragraph"></textarea>
                </div>
              </div>
              <div class="form-actions">
                <button type="submit" class="general_btn">Next
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
              </div>
          </form>
        </div>
    </section>
  </main>

  <script>
   
  </script>


{% endblock content %}