{% extends 'base2.html' %}


{% load crispy_forms_tags %}


{% block content %}
<style>
.defecient label {
  pointer-events: auto;
}
.defecient .controls {
  display: flex;
}
.defecient .radio:first-of-type {
  margin-right: 20px;
}
.submit-btn {
  margin-right: auto; 
  margin-left: 0;
}
.support-thumbnails {
  margin-left: 30%;
  width: 70%;
  margin-bottom: 20px;
}
.thumb-image {
    width: 100px;
    height: 100px;
    border: 1px dashed #666;
    padding: 5px;
    margin: 5px;
}
.control-procedures > p {
  padding: 5px;
  margin: 0px 20px;
}
</style>
<main class="transaction-page">
    <section class="inner-wrap">
        {% include 'sidebar.html' %}
        <div class="sampling_form">
                <input id="submitted" type="hidden" value="{{submitted}}" />
                <form action="" id="sample_form" method="post" enctype="multipart/form-data">
                  <div class="modal-header" style="margin-top: 50px; text-align: right">
                      <h4 class="modal-title">Test Of Controls</h4>
                  </div>
                  <div class="sampling_data">
                      <span>Cycle: {{sampling_data.Cycle}}</span>
                      <span>Client: {{sampling_data.Client}}</span>
                      <span>Year: {{sampling_data.Year}}</span>
                  </div>
                  <table>
                    <thead>
                      <tr>
                       <th>{{instance.data }}</th>
                      </tr>
                    </thead>
                    <tbody>
                    </tbody>
                  </table>
                  {% csrf_token %}
                    {{ form.non_field_errors }}
                    {{ form.deficient.errors }}
                    <div class="defecient"> 
                      {{ form.deficient|as_crispy_field }}
                    </div>
                    {{ form.attachment.errors }}
                    {{ form.attachment|as_crispy_field }}
                    {{ form.remarks.errors }}
                    {{ form.remarks|as_crispy_field }}
                    <div class="control-procedures">
                      {% for p in procedures %}
                        <p>Control Procedures-{{ forloop.counter }}</p>
                        <p>{{p.control_procedures}}</p>
                        {% empty %}
                        <p>No Control Procedures</p>
                      {% endfor %}
                      
                    </div>
                    <div class="support-thumbnails">
                        
                    </div>

                    <div class="modal-footer" style="display: flex; text-align: center;">
                            <button class="general_btn" id="saveBtn">Save
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                            </button>                    
                            
                            <button class="general_btn" id="prevBtn" data-sample="{{ the_prev.id }}"  style="margin-left: 25px" data-url="/procedures/{{ the_prev.id }}/edit/">Previous Sample
                              <span></span>
                              <span></span>
                              <span></span>
                              <span></span>
                            </button>    
                            <button class="general_btn" id="nextBtn" data-sample="{{ the_next.id }}" data-url="/procedures/{{ the_next.id }}/edit/">Next Sample
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                            </button>                   
                    </div>
                </form>     
             
        </div>
    </section>
</main>
<!-- {{the_next}}
 -->
<!-- {% with next=instance.get_next_by_data %}
    {% if next %}
        <a href="{% url 'TOC_update' id=obj.id %}">next</a>
    {% endif %}
{% endwith %} -->

<!-- {% if the_next %}
<a href="{% url 'TOC_update' the_next.id %}">Next</a>
{% else %}
This is the last film!
{% endif %} -->
<script>
  $(function() {
      
      if ($("#submitted").val() == "True") {
        $("#submitted").val("False")        
        if (!$("#nextBtn").hasClass("btn-disabled")) {
            document.location.href = $("#nextBtn").data("url");
        } else {
            document.location.href = '{% url "deficiency" %}';            
        }
      }
      var $radios = $('input:radio[name=deficient]');
      if($radios.is(':checked') === false) {
          $radios.filter('[value=deficient]').prop('checked', true);
      }
  });
  var nextId = $("#nextBtn").data("sample")
  var prevId = $("#prevBtn").data("sample")
  if (nextId.length == 0) {
    $("#nextBtn").addClass("btn-disabled");
  }
  if (prevId.length == 0) {
    $("#prevBtn").addClass("btn-disabled");
  }
  const saveSample = function () {
    const params = {
      deficient: $("input[name=deficient]:checked").val(),
      datafile_id: '{{instance.id}}',
      remarks: $("#id_remarks").val(),
      islast: $("#nextBtn").hasClass("btn-disabled") ? true : false
    }
    const csrftoken = $("[name=csrfmiddlewaretoken]").val();
    
    $.ajax({
      url: '{% url "deficiency" %}',
      type: 'post',
      headers: { "X-CSRFToken": csrftoken },
      data: params,
      success: function (res) {
        console.log(res)
        if(res.message == "success"){          
          if(res.url != ""){
            document.location.href = '{% url "deficiency" %}';
            return;
          }
          $('form#sample_form').submit()
        }
      }, error: function (res) {
        console.log(res)
      }
    })
  }
  $(".general_btn").on('click', function (event) {
    event.preventDefault();
    
    if (($(this).attr("id") == "saveBtn" && !$(this).hasClass("btn-disabled")) || ($(this).attr("id") == "nextBtn" || !$(this).hasClass("btn-disabled"))) {        
        saveSample();
    }
    else if ($(this).attr("id") == "prevBtn" && !$(this).hasClass("btn-disabled")) {      
      document.location.href = $(this).data("url");
    }
  });
  $("input[type=radio]").on('click', function () {
    console.log($(this).val())
    //if ($(this).val() == "defecient" && $("#saveBtn").hasClass('btn-disabled')) 
    //    $("#saveBtn").removeClass('btn-disabled') 
    //else if (!$("#saveBtn").hasClass('btn-disabled'))
    //    $("#saveBtn").addClass('btn-disabled')
  });
  $("#sample_form input[type=file]").on('change', function () {
    var count = $(this)[0].files.length;
    var image_holder = $(".support-thumbnails")
    for (var i = 0; i < count; i++) {
        var reader = new FileReader();
        
        reader.onload = function (e) {
            $("<img />", {
                "src": e.target.result,
                "class": "thumb-image",
            }).appendTo(image_holder);
        };
        reader.readAsDataURL($(this)[0].files[i]);
    }
    
  });
</script>
{% endblock content %}