  <div class="nav-icon">
      <span class="nav-icon_box">
          <i class="nav-icon_line"></i>
          <i class="nav-icon_line"></i>
          <i class="nav-icon_line"></i>
      </span>
    </div>
    <div class="account-bar">
      <article class="user_info">
          <div class="user_photo">
          </div>
          <h3 class="user_name">User Name</h3>
      </article>
      <ul class="account-bar_list">
          <li><a href="/procedures/CycleTransactionCreate/">Build Process</a></li>
          <li><a href="/procedures/grapheditor/">Risk Matrix</a></li>
          <li><a href="/procedures/sample_size/">Test of Controls</a></li>
          <li><a href="#">Reports</a></li>
          <li><a href="/procedures/blog/">Blog</a></li>
          <li><a href="/procedures/contact/">Contact</a></li>
          <li><a href="#">Settings</a></li>
      </ul>
      <article class="general_social-links">
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-twitter-square"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-linkedin"></i></a>
      </article>
    </div>
